:root,
[data-bs-theme=dark] {
  color-scheme: dark;
  --bs-body-color: #dee2e6;
  --bs-body-color-rgb: 222, 226, 230;
  --bs-body-bg: #999a9b;
  --bs-body-bg-rgb: 33, 37, 41;
  --bs-emphasis-color: #fff;
  --bs-emphasis-color-rgb: 255, 255, 255;
  --bs-secondary-color: rgba(222, 226, 230, 0.75);
  --bs-secondary-color-rgb: 222, 226, 230;
  --bs-secondary-bg: #343a40;
  --bs-secondary-bg-rgb: 52, 58, 64;
  --bs-tertiary-color: rgba(222, 226, 230, 0.5);
  --bs-tertiary-color-rgb: 222, 226, 230;
  --bs-tertiary-bg: #2b3035;
  --bs-tertiary-bg-rgb: 43, 48, 53;
  --bs-primary-text-emphasis: #6ea8fe;
  --bs-secondary-text-emphasis: #a7acb1;
  --bs-success-text-emphasis: #75b798;
  --bs-info-text-emphasis: #6edff6;
  --bs-warning-text-emphasis: #ffda6a;
  --bs-danger-text-emphasis: #ea868f;
  --bs-light-text-emphasis: #f8f9fa;
  --bs-dark-text-emphasis: #dee2e6;
  --bs-primary-bg-subtle: #031633;
  --bs-secondary-bg-subtle: #161719;
  --bs-success-bg-subtle: #051b11;
  --bs-info-bg-subtle: #032830;
  --bs-warning-bg-subtle: #332701;
  --bs-danger-bg-subtle: #2c0b0e;
  --bs-light-bg-subtle: #343a40;
  --bs-dark-bg-subtle: #1a1d20;
  --bs-primary-border-subtle: #084298;
  --bs-secondary-border-subtle: #41464b;
  --bs-success-border-subtle: #0f5132;
  --bs-info-border-subtle: #087990;
  --bs-warning-border-subtle: #997404;
  --bs-danger-border-subtle: #842029;
  --bs-light-border-subtle: #495057;
  --bs-dark-border-subtle: #343a40;
  --bs-heading-color: inherit;
  --bs-link-color: #6ea8fe;
  --bs-link-hover-color: #8bb9fe;
  --bs-link-color-rgb: 110, 168, 254;
  --bs-link-hover-color-rgb: 139, 185, 254;
  --bs-code-color: #e685b5;
  --bs-highlight-color: #dee2e6;
  --bs-highlight-bg: #664d03;
  --bs-border-color: #495057;
  --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
  --bs-form-valid-color: #75b798;
  --bs-form-valid-border-color: #75b798;
  --bs-form-invalid-color: #ea868f;
  --bs-form-invalid-border-color: #ea868f;
}
*{
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}
html{
scroll-behavior:smooth;
}

body{
  background: #0f172a;  
  padding-bottom: 150px;
}

/* Modal Background */
.modal{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.8);
justify-content:center;
align-items:center;
z-index:999;
}



#header{
  width:100%;
  height: 100vh;
  background-image: url(images/me3-removebg-preview.png);
  background-size: cover;
  background-position: center;
  border: none;
}
.hero{
   margin-top: 0;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 120px;
    background-color:#0f172a;
}

.hero-text{
    line-height: 1.6;
    color:#e5e7eb;
    max-width:500px;
}

.hero-text h1{
    font-size:60px;
    font-weight: 700;
    color:#ffffff;
    margin-bottom:20px;
}
.location{
    font-weight:500;
    color:#94a3b8;
    font-size: 40px;
}
.hero-text h1 span{
    color:#3b82f6;
}

.hero-text p{
    font-size:20px;
    margin-bottom:30px;
    color: #94a3b8;
}
.hero-image img{
    height:600px;
    margin-right: 120px;
     filter:drop-shadow(0 20px 40px rgba(0,0,0,0.6))
     drop-shadow(0 0 30px rgba(59,130,246,0.2));
    object-fit:contain;
}

.hero button{
background:#3b82f6;
color:white;
border:none;
padding:10px 20px;
border-radius:6px;
}

.hero button:hover{
background:#2563eb;
}

nav{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 100;
    background: #000;
}

.container-fluid{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background: #000;
    border-bottom:1px solid rgba(255,255,255,0.1);
    padding:10px 40px;
    width: 100%;
    
}

.logo img{
    height:50px;
}

.navbar ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
.navbar .nav-link{
    color: var(--bs-body-color);
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s;
}

.navbar .nav-link:hover{
    color: var(--bs-link-color);
    transform: scale(1.08);
}


#about{
    padding: 80px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.about-col-1 {
  flex-basis: 35%;
  display: flex;
  justify-content: center;
}

.about-col-1 img {
  width: 80%;
  max-width: 280px;
}

.about-col-2{
    flex-basis: 60%;
    line-height: 1.7;
}

.sub-title{
    font-size: 48px;
    margin-bottom: 40px;
    font-weight: 600;
    color: #ffffff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}


.tab-links{
    color: #94a3b8;
    font-size: 18px;
    font-weight: 500;
    margin-right: 50px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    background: none;
    border: none;
    padding: 0;
}

.tab-links::after{
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 0 ;
    height: 3px;
    background: #6d1803;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

.tab-links.active-links::after{
    transform: scaleX(1);
    width: 50%;
}

.skills-grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:40px;
margin-top:20px;
}

.skill-group h4{
color:#3b82f6;
margin-bottom:10px;
font-size:20px;
}

.skill-group ul{
list-style:none;
padding:0;
}

.skill-group li{
margin:6px 0;
color:#9ca3af;
position:relative;
padding-left:15px;
}

.skill-group li::before{
content:"▹";
position:absolute;
left:0;
color:#3b82f6;
}

.tab-contents ul li{
margin-bottom:20px;
line-height:1.6;
}

.tab-contents ul li span{
color:#3b82f6;
font-weight:600;
font-size:18px;
}

.tab-contents{
  display:none;
}

.tab-contents.active-tab{
  display:block;
}

/*-------------------services------------------ */
#services{
    padding: 80px 0;
    color: #ababab;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.service-item{
background:#0f172a;
padding:30px;
border-radius:10px;
transition:0.3s;
border:1px solid rgba(255,255,255,0.05);
}

.service-item:hover{
transform:translateY(-8px);
box-shadow:0 15px 35px rgba(0,0,0,0.5);
border-color:#3b82f6;

}

.service-item h3{
color:#3b82f6;
margin-bottom:15px;
}

#projects{
    padding: 80px 0;
    color: #ababab;
}

.projects-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.projects-item{
position: relative;
overflow: hidden;
border-radius:10px;
transition:all 0.3s ease;
border:1px solid rgba(255,255,255,0.05);
background:#0f172a;
padding:25px;
}

.projects-item::before{
content:'';
position:absolute;
top:0;
left:0;
width:100%;
height:180px;
background:linear-gradient(to top, rgba(15,23,42,0.95), rgba(15,23,42,0.6));
border-radius:10px;
pointer-events:none;
}

.projects-item:hover{
transform:translateY(-8px);
box-shadow:0 15px 35px rgba(0,0,0,0.5);
border-color:#3b82f6;
}

.projects-item h3{
display: flex;    
color:#3b82f6;
margin-bottom:15px;
align-items: center;
}

.projects-item p{
line-height:1.6;
margin-bottom:15px;
color:#f5f5fb;
}

.projects-item img{
width:100%;
height: 200px;
object-fit: cover;
border-radius: 8px;
transition: transform 0.4s ease;
}

.projects-item:hover img{
transform: scale(1.05);
}

.layer{
width: 100%;
height: 100%;
background:linear-gradient(to bottom, rgba(15,23,42,0.2), rgba(15,23,42,0.9));
position: absolute;
left: 0;
bottom: 0;
overflow: hidden;
}
.project-links{
margin-top:15px;
}

.project-links a{
display:inline-block;
margin-right:10px;
padding:6px 12px;
border:1px solid #3b82f6;
border-radius:6px;
color:#3b82f6;
text-decoration:none;
font-size:14px;
transition:0.3s;
}

.project-links a:hover{
background:#3b82f6;
color:white;
}
/*-------------------contact------------------ */
#contact{
padding:80px 0;
color:#ababab;
text-align:center;
scroll-margin-top: 100px;
margin-bottom: 200px;
}

.contact-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:30px;
margin-top:40px;
}

.contact-card{
background:#0f172a;
border:1px solid rgba(255,255,255,0.05);
padding:25px;
border-radius:10px;
text-align:center;
transition:0.3s;
}

.contact-card:hover{
transform:translateY(-8px);
box-shadow:0 15px 35px rgba(0,0,0,0.5);
border-color:#3b82f6;
}

.contact-card i{
font-size:20px;
color:#3b82f6;
margin-right:8px;
}

.contact-card h4{
color:#3b82f6;
margin-bottom:10px;
}

.contact-card a{
color:#9ca3af;
text-decoration:none;
}

.contact-card a:hover{
color:#3b82f6;
text-decoration: underline;
}

.contact-info{
margin-top:30px;
background: rgba(255,255,255,0.03);
padding:30px;
border-radius:12px;
border:1px solid rgba(255,255,255,0.05);
display:inline-block;
}

.contact-info p{
margin:12px 0;
font-size:18px;
display:flex;
align-items:center;
gap:10px;
justify-content:center;
}

.contact-info{
margin-top:30px;
background: rgba(255,255,255,0.03);
padding:30px;
border-radius:12px;
border:1px solid rgba(255,255,255,0.05);
display:inline-block;
}

.contact-info p{
margin:12px 0;
font-size:18px;
display:flex;
align-items:center;
gap:10px;
justify-content:center;
}
.contact-text{
margin-top:15px;
margin-bottom:25px;
color:#9ca3af;
}

.fade-in{
opacity:0;
transform:translateY(30px);
transition:all 0.6s ease;
}

.fade-in.show{
opacity:1;
transform:translateY(0);
}


/*-------------------footer------------------ */
.footer{
margin-top:80px;
padding:50px 0;
text-align:center;
border-top:1px solid rgba(255,255,255,0.05);
color:#9ca3af;
font-size:14px;
}

.footer-links{
margin:15px 0;
}

.footer-links a{
margin:0 10px;
color:#3b82f6;
text-decoration:none;
}

.footer-links a:hover{
color:#60a5fa;
text-decoration:underline;
}



@media (max-width: 768px){

  .header{
    display:flex;
    flex-direction:column;
    text-align:center;
  }

  .header-text{
    order:2;
    margin-top:20px;
  }

  .header-img{
    order:1;
  }

  .header-img img{
    width:100%;
    max-width:300px;
    height:auto;
    margin:auto;
  }

  .header-text h1{
    font-size:28px;
  }

  .header-text p{
    font-size:14px;
  }

}